@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
body{

margin:10px;
background-color:black;

height:280vh;
}
.navbar{
display:flex;
flex-direction:row;
justify-content:space-between;
border:2px solid blue;
padding-left:20px;
background-color:#e286eb;
}
.nav-left{
padding-left:20px;
}
.nav-right{
padding-right:20px;
display:flex;
flex-direction:row;
align-items:center;

}
.a-element{
padding:10px;
margin:10px;
color:lightblue;
font-size:20px;
font-weight:bold;
border:2px solid white;
background-color:black;
}
.home{
display:flex;
justify-direction:row;
justify-content:space-between;
align-items:center;
color:white;

}
.home-left{
width:80vw;
padding-left:80px;
padding-top:130px;
font-family: "Trirong", serif;
<!--text-align:right;
text-align:left;-->
}
.home-right{
width:50vw;
padding-left:50px;
padding-top:130px;
}
.image2{
border-radius:300px;
border:3px solid white;
}
.image{
margin-left:30px;
border-radius:300px;
border:3px solid white;
}
.p{
text-align:justify;
}
#pinky{
text-align:center;
text-decoration-line:underline;
text-decoration-style:solid;
text-decoration-color:lightblue;
}
.other{
padding:90px;
text-align:center;
color:white;
}
.o-1{
color:blue;
text-shadow:2px 2px 2px white;
letter-spacing:1px;
font-size:30px;
font-family: "Baskervville SC", serif;
letter-spacing:2px;
}
.skills{
display:flex;
flex-direction:row;
padding-left:35px;

}
.com-1{
border:2px solid yellow;
margin:30px;
text-align:center;
padding:20px;
}
.communication{
color:#e286eb;
}
.service{
padding-left:120px;
padding-right:120px;
text-align:center;
color:white;
}
.s-1{
color:orange;
text-shadow:2px 2px 2px white;
letter-spacing:1px;
font-size:30px;
font-family: "Baskervville SC", serif;
letter-spacing:2px;
}
.servs{
display:flex;
flex-direction:row;
}
.serv-1{
border:2px solid green;
margin:30px;
text-align:center;
padding:20px;
}
.serv-h3{
color:#e286eb;
}
.contact{
color:white;
text-align:center;
}
#ser-h1{
color:blue;
text-decoration-line:underline;
text-decoration-style:solid;
text-decoration-color:white;
}
.social-icon{
margin:4px;
border-radius:5px;
}
#navbar{
text-decoration-line:none;
}


